---

---
<nav>
  <h1 class="navbar__title">
    Web Agency Landing Page
  </h1>
  <ul class="navbar__list">
    <li class="navbar__list--item"><a href="/">Landing</a></li>
    <li class="navbar__list--item"><a href="pricing">Pricing</a></li>
    <li class="navbar__list--item"><a href="services">Services</a></li>
    <li class="navbar__list--item"><a href="contact">Contact</a></li>
    <li class="navbar__list--item"><a href="careers">Careers</a></li>
    <li class="navbar__list--item"><a href="portfolio">Portfolio</a></li>
    <li class="navbar__list--item"><a href="home">Home</a></li>
  </ul>
</nav>