body {
  display: flex;
  flex-flow: column;
}

nav {
  width: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  color: var(--clr-navbar);
  position: fixed;
  font-family: 'Poppins';
  justify-content: space-between;
}

.navbar__title {
  font-size: 23px;
  font-weight: 800;
  padding: 27px 40px;
}

.navbar__list {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.navbar__list--item {
  padding: 33px 22px 33px 0;
  font-size: 14px;
  font-weight: 600;
}

.navbar__list--item:hover {
  color: #71818c;
}

.container__landing {
  background-image: url('/src/assets/landing-bg.jpg');
  color: var(--clr-white);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 0 0 0;
}

.container__landing--p {
  padding: 200px 0;
}

.container__landing--m {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 2% 0;
}

.container__landing--receiver {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.titulo__principal {
  font-weight: 600;
  font-size: 50px;
  font-family: var(--font-prim);
  text-align: center;
  max-width: 500px;
  line-height: 1.4;
  padding: 0 0 10px;
}

.parrafo {
  font-family: var(--font-sec);
  text-align: center;
  word-spacing: 1.5px;
  max-width: 600px;
  color: #ffffffb3;
  line-height: 1.8em;
  word-wrap: break-word;
}

.container__landing--pb {
  margin-top: 2.75%;
}

.container__landing--button {
  display: flex;
  justify-content: center;
}

.landing__section1 {
  display: flex;
  flex-flow: column;
  padding: 100px 0;
  gap: .5rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1__row--intro {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section1__title {
  font-family: var(--font-prim);
  font-size: 40px;
  font-weight: 600;
  padding: 0 0 10px;
}

.section1__parrafo {
  font-family: var(--font-sec);
  text-align: center;
  word-spacing: 1.5px;
  max-width: 600px;
  color: var(--clr-lightgray);
  line-height: 1.8em;
  word-wrap: break-word;
  font-weight: 600;
}

.section1__row--cards {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  gap: 5.5%;
}

.card {
  width: 28%;
  border-radius: 5px;
  padding: 60px 30px 60px 40px;
  color: var(--clr-white);
}

#color1 {
  background-color: var(--clr-lightblue);
}

#color2 {
  background-color: var(--clr-blue);
}

#color3 {
  background-color: var(--clr-darkblue);
}

.card__contents {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.card__title {
  font-size: 20px;
  font-family: var(--font-prim);
  font-weight: 600;
  letter-spacing: 1.02px;
}

footer {
  background-color: var(--clr-lightgray);
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px;
}

.highlighted {
  font-weight: 600;
}

.footer__social {
  display: flex;
  gap: 1rem;
}

button {
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7em;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 14px 28px;
  width: fit-content;
  transition: .3s;
}

.btn__landing--header {
  background-color: var(--clr-white);
  color: var(--clr-blue);
  &:hover {
    background-color: var(--clr-lightblue);
    color: var(--clr-white);
  }
}

.btn__landing--body {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  &:hover {
    background-color: var(--clr-darkblue);
  }
}

/* Pricing */

.pricing__container {
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,#ffffff 100%), url('/src/assets/pricing-hbg.jpg');
  height: 100%;
  width: 100%;
  margin: 61px 0 0 0;
  padding: 100px 0;
}

.pricing__container--title {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pricing__title {
  font-family: var(--font-prim);
  font-size: 50px;
  font-weight: 600;
  color: var(--clr-black);
  margin: 0 0 12px;
}

.pricing__parrafo {
  font-family: var(--font-sec);
  color: var(--clr-lightgray);
  font-weight: 600;
  max-width: 600px;
}

.pricing__section1 {
  max-width: 1080;
  margin: auto;
  padding: 0 0 30px;
}

.pricing__section1--row {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  gap: 5.5%;
}

#pricing__color1 {
  background-color: var(--clr-green);
}

#pricing__color2 {
  background-color: var(--clr-blue);
}

#pricing__color3 {
  background-color: var(--clr-darkblue);
}

.pricing__card--title {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  align-items: center;
}

.pcard__title {
  font-size: 20px;
  font-family: var(--font-prim);
  font-weight: 600;
  letter-spacing: 1.02px;
}

.pcard__subtitle {
  color: #ffffffb3;
  font-size: 15px;
  font-family: var(--font-sec);

}

.pricing__card--price {
  padding: 30px 0;
}

.pcard__amount {
  font-size: 50px;
  font-family: var(--font-prim);
  font-weight: 600;
  letter-spacing: 1.02px;
}

.pricing__card--details {
  padding: 30px;
}

.pcard__details {
  width: 100%;
  padding: 0;
}

.pcard__details li {
  padding: 0 0 12px;
}

.pricing__card--button {
  display: flex;
  align-items: center;
}

.btn__pricing1 {
  background-color: var(--clr-white);
  color: var(--clr-green);
  &:hover {
    color: var(--clr-darkblue);
  }
}

.btn__pricing2 {
  background-color: var(--clr-lightblue);
  color: var(--clr-white);
  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-darkblue);
  }
}

.btn__pricing3 {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-darkblue);
  }
}

.phighlighted {
  color: var(--clr-lightblue);
  font-weight: 600;
}

/* Services */

.services__container {
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,#ffffff 100%), url('/src/assets/services-bg.jpg');
  background-position: 50%;
  height: 100%;
  width: 100%;
  margin: 61px 0 0 0;
  padding: 100px 0;
}

.services__container--title {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.services__title {
  font-family: var(--font-prim);
  font-size: 50px;
  font-weight: 600;
  color: var(--clr-black);
  margin: 0 0 12px;
}

.services__parrafo {
  font-family: var(--font-sec);
  color: var(--clr-lightgray);
  font-weight: 600;
  max-width: 600px;
}


.services__section1 {
  max-width: 1080;
  margin: auto;
  padding: 0 0 30px;
}

.services__section1--row {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  gap: 5.5%;
}

#services__color1 {
  background-color: var(--clr-green);
}

#services__color2 {
  background-color: var(--clr-blue);
}

#services__color3 {
  background-color: var(--clr-darkblue);
}

.services__card--title {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  align-items: center;
}